.carousel-caption {
    right: 60% !important; 
        padding-bottom: 9.25rem !important;
}

.btn {
    border-radius: 10rem;
}

.btn-outline-primary {
    border-color: green;
    color: green;
}

.btn-outline-secondary {
    border-color: red;
    color: red;
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}
    .btn-outline-primary:hover {
        color: #fff;
        background-color: green;
        border-color: green;
    }

    .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
        color: #fff;
        background-color: green;
        border-color: green;

    }

    .btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
        box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    }

    body {
        color: #fff;
    }
    .rounded {
        border-radius: 1.25rem!important;
    }

    h1, p {
        text-align: start;
    }

    .bg-light {
        background-color: rgba(255, 255, 255, 0.829) !important;
    }